@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
 margin: auto;
}

.container {
  display: grid;
  grid-template-rows: auto 1fr auto 50px;
  grid-template-columns: auto;
  grid-template-areas:
    "hd"
    "main"
    "sd"
    "ft";
  text-align: center;
}

header {
  grid-area: hd;
  background-color: #55868c;
  letter-spacing: 0.2em;
  line-height: 0.7;
}

header a {
  text-decoration: none;
  color: #f5f5f5;
}

header h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 42px;
}

header p{
  font-family: 'Garamond', serif;
}

.sidebar {
  grid-area: sd;
  background-color: #2F494D;
  color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  padding: 20px;
}

.sidebar h3 {
  font-size: 17px;
}

.sidebar nav {
  display: flex;
  flex-direction: column;
}

.sidebar a{
  text-decoration: none;
  padding: 15px;
  color: #f5f5f5;
}

.sidebar a:hover{
  background-color: #55868c;
}

#avatar {
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.auth-info {
  display: flex;
  flex-direction: column;
  line-height: 2em;

}

.prev-blogs {
  line-height: 2em;
  padding-top: 40px;
}

main {
  grid-area: main;
  background-color: #cecece;
  font-family: 'Lato', sans-serif;
  text-align: left;
  padding: 5%;
}

main img {
  width: 110%;
  object-fit: cover;
  height: 250px;
  margin-left: -5%;
  margin-top: -5%;
}

.blog-text h2 {
  text-align: center;

}

.blog-text blockquote {
  text-align: center;
  font-size: 16px;
}

footer {
  grid-area: ft;
  padding-bottom: 100px;
  height: auto;
  background-color: #55868c;
  color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

input[type=text] {
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 12px;
  margin-bottom: 8px;
}

input[type=submit] {
  background-color: #2F494D;
  color: #f5f5f5;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}


@media(min-width: 740px) and (max-width: 1000px)  {
  .container {
    display: grid;
    grid-template-rows: 110px 1fr 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "hd hd hd hd hd"
      "main main main main sd"
      "ft ft ft ft ft";
    text-align: center;
  }
}

@media(min-width: 1001px) {
  .container {
    display: grid;
    grid-template-rows: 110px 1fr 50px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "main main main main main main sd sd"
      "ft ft ft ft ft ft ft ft";
    text-align: center;
  }
}
