@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
 margin: auto;
}

.container {
  display: grid;
  grid-template-rows: 110px 1fr 50px;
  grid-template-columns: auto;
  grid-template-areas:
    "hd"
    "mn"
    "ft";
  text-align: center;
}

.header {
  grid-area: hd;
  background-color: #55868c;
  letter-spacing: 0.2em;
  line-height: 0.7;
}

.header a {
  text-decoration: none;
  color: #f5f5f5;
}

.header h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 35px;
}

.header p{
  font-family: 'Garamond', serif;
}

.sidebar {
  background-color: #2F494D;
  color: #f5f5f5;
  font-family: 'Lato', sans-serif;
}

.sidebar a{
  text-decoration: none;
  color: #f5f5f5;
}

.sidebar a:hover{
  background-color: #55868c;
}

#avatar {
  margin-top: 20px;
  align-self: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.auth-info {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  line-height: 1.5em;
  padding: 15px;
}

.prev-blogs {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  line-height: 2em;
  padding: 15px;
}

.main {
  grid-area: mn;
  background-color: #cecece;
  font-family: 'Lato', sans-serif;
  text-align: left;
  padding: 5%;
}

.main h2 {
  text-align: center;

}

.main h3 {
  text-align: center;
  font-size: 16px;
}

.main img {
  width: 110%;
  object-fit: cover;
  height: 250px;
  margin-left: -5%;
  margin-top: -5%;
}


.footer {
  grid-area: ft;
  padding-bottom: 75px;
  height: 100%;
  background-color: #55868c;
  color: #f5f5f5;
  font-family: sans-serif;
  font-size: 12px;
}

input[type=text] {
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 12px;
  margin-bottom: 8px;
}

input[type=submit] {
  background-color: #2F494D;
  color: #f5f5f5;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}


@media(min-width: 320px) and (max-width: 720px)  {
  .container {
    display: grid;
    grid-template-rows: 110px 1fr 50px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-areas:
      "hd hd hd hd hd"
      "mn mn mn mn sd"
      "ft ft ft ft ft";
    text-align: center;
  }
}

@media(min-width: 721px) {
  .container {
    display: grid;
    grid-template-rows: 110px 1fr 50px;
    grid-template-columns: repeat(8, 1fr);
    grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "mn mn mn mn mn mn sd sd"
      "ft ft ft ft ft ft ft ft";
    text-align: center;
  }


  .sidebar {
      grid-area: sd;
  }
}
