@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
 margin: auto;
}

.container {
  display: grid;
  grid-template-rows: 110px auto 1fr 50px;
  grid-template-columns: auto;
  grid-template-areas:
    "hd"
    "sd"
    "main"
    "ft";
  text-align: center;
}

main {
  grid-area: main;
  background-color: #cecece;
}

.card {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  border-radius: 5%;
  background-color: #cecece;
  border: 2px solid #2F494D;
  color: #2F494D;
  margin: 5px;
  font-family: 'Lato', sans-serif;
}

.card h3 {
  font-size: 20px;
}

.card img {
  max-width: 100%;
  border-radius: 5% 5% 0 0;
}

.card a {
  text-decoration: none;
  color: #2F494D;
  height: 100%;
}

.card a:hover {
  border-radius: 3%;
  background-color: #2F494D;
  color: #f5f5f5;
}

/*  media queries below  */

@media(min-width: 740px) and (max-width: 1000px)  {
  .container {
    display: grid;
    grid-template-rows: 110px auto 1fr 50px;
    grid-template-columns: auto;
    grid-template-areas:
      "hd"
      "sd"
      "main"
      "ft";
    text-align: center;
  }

  main {
    padding: 5px;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}

@media(min-width: 1001px) {
  .container {
    display: grid;
    grid-template-rows: 110px 1fr 50px;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas:
      "sp hd hd hd hd hd sd"
      "main main main main main main main"
      "ft ft ft ft ft ft ft";
    text-align: center;
  }

  main {
    padding: 50px;
    display: grid;
    grid-template-rows: repeat(auto, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 15px;
  }

  .subscribe-btn {
    padding: 50px;
    align-self: center;
  }

  .subscribe-btn a {
    border: 2px solid #2F494D;
    padding: 15px 25px 15px 25px;
    border-radius: 25px;
    font-size: 1em;
  }

  .subscribe-btn a:hover {
    background-color: #2F494D;
  }
}
