@import url('index.css');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.header {
  grid-area: hd;
  background-color: #55868c;
  color: #f5f5f5;
  letter-spacing: 0.2em;
  line-height: 0.7;
}

.header h1 {
  font-family: 'Amatic SC', cursive;
  font-size: 42px;
}

.header p{
  font-family: 'Garamond', serif;
}

.spacer {
  grid-area: sp;
  background-color: #55868c;
}

.sidebar {
  grid-area: sd;
  background-color: #55868c;
  color: #f5f5f5;
}

.sidebar a {
  text-decoration: none;
  color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

.footer {
  grid-area: ft;
  padding-bottom: 75px;
  height: 100%;
  background-color: #55868c;
  color: #f5f5f5;
  font-family: 'Lato', sans-serif;
  font-size: 12px;
}

input[type=text] {
  width: 300px;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px 12px;
  margin-bottom: 8px;
}

input[type=submit] {
  background-color: #2F494D;
  color: #f5f5f5;
  padding: 6px 12px;
  border-radius: 5px;
  cursor: pointer;
}
